body{

    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;

}



.pokedex{
    border: 3px solid green;
    display: flex;
    flex-flow: row nowrap;
    background-color: #BD0F34;
}

.estadisticas{

    border: 3px solid red;
    flex-basis: 100%;
    /*background-color: #55AB62;*/
    background-image: repeating-linear-gradient(90deg, rgba(0, 0, 0, 0.09) 0px, rgba(0, 0, 0, 0.09) 1px,transparent 1px, transparent 96px),
    repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.09) 0px, rgba(0, 0, 0, 0.09) 1px,transparent 1px, transparent 96px),
    repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.09) 0px, rgba(0, 0, 0, 0.09) 1px,transparent 1px, transparent 12px),
    repeating-linear-gradient(90deg, rgba(0, 0, 0, 0.09) 0px, rgba(0, 0, 0, 0.09) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, rgb(85, 171, 98),rgb(85, 171, 98));
}


.detalles{

    border: 3px solid blue;
    flex-basis:50% ;
}


.seccion1{
    display: flex;
    flex-flow: column;
    flex-basis: 50%;
    border: 3px solid red;
    height: 100px;

}

.informacion label,input{

    display: block;
    
}

.pantalla{
    display: flex;
    flex-flow: row;
    
    border: 3px solid blue;
    justify-content: center;
}

.pantallaInterna{
    
    background-image: repeating-linear-gradient(90deg, rgba(0, 0, 0, 0.09) 0px, rgba(0, 0, 0, 0.09) 1px,transparent 1px, transparent 96px),
    repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.09) 0px, rgba(0, 0, 0, 0.09) 1px,transparent 1px, transparent 96px),
    repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.09) 0px, rgba(0, 0, 0, 0.09) 1px,transparent 1px, transparent 12px),
    repeating-linear-gradient(90deg, rgba(0, 0, 0, 0.09) 0px, rgba(0, 0, 0, 0.09) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, rgb(85, 171, 98),rgb(85, 171, 98));
   /* background-color: #55AB62;*/
    border: 2rem solid #dedede;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    border-bottom-left-radius: 4rem;

    
}

.pantallaInterna img {

    margin: 1rem;
}



/*-----------------INFORMACION----------------------------*/

.informacionGeneral{

    display: flex;
}



.informacion{

    border: 3px solid red;
    flex-basis: 100%;
  

}

.buscar{

    display: flex;
    flex-flow: column;
    justify-content: center;
    border: 3px solid blue;
    padding: 0 1rem;
    align-items: center;
    font-size: bold;
}




/*scroll poderes*/

.scroll-bg{

    width: 400px;
    border: 3px solid red;
}


.scroll-div{

    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}






/*--------------------------DETALLES FIGURAS--------------------------------------*/

/*------------------------------------------------LEDS------------------------*/
.sombraLed{
    width: 100px;
    height: 100px;
    border-radius: 80px;
    background: #049DD2;
    border: 15px solid white;
}


.ledAzul{

    background:#0CCCFF;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 5px;
}


.brillo{
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background: #ace1f3;
    padding: 10px;
    margin-left: 10px;    
}




.sombraAmarilla{

    width: 2rem;
    height: 2rem;
    background-color: rgb(173, 173, 0);
    border-radius: 50%;
    padding: .2rem;
    border:3px solid yellow;
}
.ledAmarillo{
    width: 1.5rem;
    height: 1.5rem;
    background-color: yellow;
    border-radius: 50%;

}




.sombraRojo{
    width: 2rem;
    height: 2rem;
    background-color: rgb(161, 0, 0);
    border-radius: 50%;
    padding: .2rem;
    border:3px solid red;
}


.ledRojo{

    width: 1.5rem;
    height: 1.5rem;
    background-color: red;
    border-radius: 50%;

}


/*------------------------------------------------LEDS------------------------*/



.rectanguloAzul{

    width: 7rem;
    height: 1rem;
    background-color: blue;
    border-radius: 30px;
    margin: 2rem;


}

.informacion input{

    background: black;
    color: yellow;

}

#pokeName{
    background-image: repeating-linear-gradient(90deg, rgba(0, 0, 0, 0.09) 0px, rgba(0, 0, 0, 0.09) 1px,transparent 1px, transparent 96px),
    repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.09) 0px, rgba(0, 0, 0, 0.09) 1px,transparent 1px, transparent 96px),
    repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.09) 0px, rgba(0, 0, 0, 0.09) 1px,transparent 1px, transparent 12px),
    repeating-linear-gradient(90deg, rgba(0, 0, 0, 0.09) 0px, rgba(0, 0, 0, 0.09) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, rgb(85, 171, 98),rgb(85, 171, 98));
    
   /* background-color: #55AB62;*/
    text-align: center;
    padding: 1.5rem;
    margin:1rem;
    color: black;
    border: transparent;
    border-radius: .5rem;
    font-family: 'VT323', monospace;
    font-size: 2rem;
    width: 50%;
}


.informacion button{

    padding:1rem;
    background-color: #095377;
    color: #ffff00;
    border: transparent;
    border-radius: 0.5rem;
    font-family: 'VT323', monospace;
    font-size: 1.3rem;
    width: 25%;
    
    color: white;
}


.leds{

    display: flex;
    
    gap: 1rem;
}



/*--------------------------DETALLES FIGURAS--------------------------------------*/


/*----------------------------INFOFISICA-------------------------------------*/

.infoFisica{

    display: flex;
    justify-content: space-between;

}

.infoFisica input{
    border-radius: 3px;

    border:  transparent;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'VT323', monospace;
    
}



/*----------------------------INFOFISICA-------------------------------------*/
