body{

    margin: 0;
    padding: 0;
    


}



.pokedex{
    border: 3px solid green;
    display: flex;
    flex-flow: row nowrap;
    background-color: rgb(189, 15, 52);
    /*padding: 3rem;*/
    /*border-top-left-radius: 5rem;*/
    border-radius: 5rem;

    border: 1.5rem solid black;
    margin: 1rem;

}

.estadisticas{

    border: 3px solid red;
    flex-basis: 100%;
    /*background-color: #55AB62;*/
    background-image: repeating-linear-gradient(90deg, rgba(0, 0, 0, 0.09) 0px, rgba(0, 0, 0, 0.09) 1px,transparent 1px, transparent 96px),
    repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.09) 0px, rgba(0, 0, 0, 0.09) 1px,transparent 1px, transparent 96px),
    repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.09) 0px, rgba(0, 0, 0, 0.09) 1px,transparent 1px, transparent 12px),
    repeating-linear-gradient(90deg, rgba(0, 0, 0, 0.09) 0px, rgba(0, 0, 0, 0.09) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, rgb(85, 171, 98),rgb(85, 171, 98));
    border: 2rem solid #dedede;
    border-bottom-left-radius: 2rem;
    /*padding:3rem;*/
    text-align: center;
    /*height: 50%;*/
    border-top-right-radius: 2rem;
    margin: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


.detalles{

    border: 3px solid blue;
    flex-basis:50% ;
}


.seccion1{
    display: flex;
    flex-flow: column;
    flex-basis: 50%;
    border-left: 1rem solid rgb(0, 0, 0,0.5);
    border-radius: 3rem;

   
   

}



/*  PRUEBA INTERMEDIO*/

.intermedio{

    width: 2.5rem;
    height: 70rem;
    border: 0.2rem solid rgb(0, 0, 0,0.5);;
    padding: 0;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;

}


.bisagra1{

    width: 2.5rem;
    height: 2rem;
    border: 3px solid rgb(0, 0, 0,0.5);
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
    margin-top: 5rem;
    padding: 0;
    

}

.bisagra2{

    width: 2.5rem;
    height: 2rem;
    border: 3px solid rgb(0, 0, 0,0.5);
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
    margin-top: 30rem;
    padding: 0;
    

}






.informacion label,input{

    display: block;
    
}

.pantalla{
    display: flex;
    flex-flow: row;
    margin-top: 5rem;
    border: 3px solid blue;
    justify-content: center;
}

.pantallaInterna{
    
    background-image: repeating-linear-gradient(90deg, rgba(0, 0, 0, 0.09) 0px, rgba(0, 0, 0, 0.09) 1px,transparent 1px, transparent 96px),
    repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.09) 0px, rgba(0, 0, 0, 0.09) 1px,transparent 1px, transparent 96px),
    repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.09) 0px, rgba(0, 0, 0, 0.09) 1px,transparent 1px, transparent 12px),
    repeating-linear-gradient(90deg, rgba(0, 0, 0, 0.09) 0px, rgba(0, 0, 0, 0.09) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, rgb(85, 171, 98),rgb(85, 171, 98));
   /* background-color: #55AB62;*/
    border: 2rem solid #dedede;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    border-bottom-left-radius: 4rem;

    
}

.pantallaInterna img {

    margin: 1rem;
}



/*-----------------INFORMACION----------------------------*/

.informacionGeneral{

    display: flex;
}



.informacion{

    border: 3px solid red;
    flex-basis: 100%;
  

}

.buscar{

    display: flex;
    flex-flow: column;
    justify-content: center;
    border: 3px solid blue;
    padding: 0 1rem;
    align-items: center;
    font-size: bold;
    margin-top: 3rem;
}




/*scroll poderes*/

.poderes{

    margin-left: 1rem;

}


.scroll-bg{

    width: 400px;
    border: 3px solid red;
    display: flex;
    justify-content: space-between;
}


.scroll-div{

    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: black;
    color:yellow;
    font-size: 1.3rem;
    width: 50%;
}

.container-ul{

    display: flex;
    flex-flow: column;
    padding: 0;
    justify-content: center;
    align-items: center;
}




/*--------------------------DETALLES FIGURAS--------------------------------------*/

/*------------------------------------------------LEDS------------------------*/
.sombraLed{
    width: 100px;
    height: 100px;
    border-radius: 80px;
    background: #049DD2;
    border: 15px solid white;
}


.ledAzul{

    background:#0CCCFF;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 5px;
}


.brillo{
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background: #ace1f3;
    padding: 10px;
    margin-left: 10px;    
}




.sombraAmarilla{

    width: 2rem;
    height: 2rem;
    background-color: rgb(173, 173, 0);
    border-radius: 50%;
    padding: .2rem;
    border:3px solid yellow;
}
.ledAmarillo{
    width: 1.5rem;
    height: 1.5rem;
    background-color: yellow;
    border-radius: 50%;

}




.sombraRojo{
    width: 2rem;
    height: 2rem;
    background-color: rgb(161, 0, 0);
    border-radius: 50%;
    padding: .2rem;
    border:3px solid red;
}


.ledRojo{

    width: 1.5rem;
    height: 1.5rem;
    background-color: red;
    border-radius: 50%;

}


/*------------------------------------------------LEDS------------------------*/



.rectanguloAzul{

    width: 7rem;
    height: 1rem;
    background-color: blue;
    border-radius: 30px;
    margin: 2rem;


}

.informacion input{

    background: black;
    color: yellow;

}

#pokeName{
    background-image: repeating-linear-gradient(90deg, rgba(0, 0, 0, 0.09) 0px, rgba(0, 0, 0, 0.09) 1px,transparent 1px, transparent 96px),
    repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.09) 0px, rgba(0, 0, 0, 0.09) 1px,transparent 1px, transparent 96px),
    repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.09) 0px, rgba(0, 0, 0, 0.09) 1px,transparent 1px, transparent 12px),
    repeating-linear-gradient(90deg, rgba(0, 0, 0, 0.09) 0px, rgba(0, 0, 0, 0.09) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, rgb(85, 171, 98),rgb(85, 171, 98));
    
   /* background-color: #55AB62;*/
    text-align: center;
    padding: 1.5rem;
    margin:1rem;
    color: black;
    border: transparent;
    border-radius: .5rem;
    font-family: 'VT323', monospace;
    font-size: 2rem;
    width: 50%;
}


.informacion button{

    padding:1rem;
    background-color: #095377;
    color: #ffff00;
    border: transparent;
    border-radius: 0.5rem;
    font-family: 'VT323', monospace;
    font-size: 1.3rem;
    width: 25%;
    
    color: white;
}

.informacion button:hover{

    background-color:#0CCCFF;
    color: black;


}




.leds{

    display: flex;
    border-bottom: 1rem solid rgba(0, 0, 0,0.5);
    width: 50%;
    border-bottom-right-radius:5rem;
    margin-top: 1rem;
    padding: 1rem;
    gap: 1rem;
}



/*--------------------------DETALLES FIGURAS--------------------------------------*/


/*----------------------------INFOFISICA-------------------------------------*/

.infoFisica{

    display: flex;
    justify-content: space-between;
    margin-top:3rem;
    

}

.infoFisica input{
    border-radius: 3px;

    border:  transparent;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'VT323', monospace;
    
}



/*----------------------------INFOFISICA-------------------------------------*/
 
#porID{

    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    background: rgb(0, 0, 0);
    text-align: center;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'VT323', monospace;
    color: white;



}

#porID:hover{

    background-color: yellow;
    color: black;
}