.container{

    border: 3px solid red;
    display: flex;
    gap: 4%;
    flex-flow: row wrap;
    justify-content: space-between;

}

.poke-block{

    border: 3px solid green;
    flex-basis: 22%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}